html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --left-background-color: #f8f8f8;
  --priority-1-color: #d1453b;
  --priority-2-color: #eb8909;
  --priority-3-color: #246fe0;
  --todo-hover-background-color: #edeaea;
  --checked-btn-color: #76f7bf;
  --checked-btn-border-color: #499167;
}
body {
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 1fr;
  line-height: 1.15;
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.left-container {
  height: 100%;
  background-color: var(--left-background-color);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.left-container h1 {
  font-weight: bold;
  font-size: 2.4rem;
}

.header {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header i {
  font-size: 2.2rem;
}

.projects-list {
  margin-top: 10px;
  padding-left: 30%;
  display: grid;
  gap: 10px;
}
.today h1 {
  flex-grow: 1;
}
.today :hover {
  cursor: pointer;
  background-color: var(--todo-hover-background-color);
}

.project .trash-container i:hover {
  cursor: pointer;
}

.project .trash-container i {
  font-size: 1.4rem;
}
.project h2:hover {
  cursor: pointer;
  background-color: var(--todo-hover-background-color);
}

.project h2 {
  flex-grow: 1;
}
.project {
  font-size: 1.8rem;
  display: flex;
  gap: 15px;
  font-weight: 600;
}

.project-btn {
  padding: 0.7rem;
  border-radius: 15px;
  font-size: 1.4rem;
}
.project-btn:hover {
  cursor: pointer;
  background-color: var(--todo-hover-background-color);
}

.projects-list form {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: grid;
  gap: 10px;
}

#project-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#project-form label {
  font-weight: bold;
}

#project-name {
  border: 1px solid black;
}
.main-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.project-title {
  font-size: 2.4rem;
  font-weight: bold;
}

.sections-container {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.section-title {
  margin-bottom: 20px;
  font-weight: bold;
}

.todos-container {
  padding-left: 20px;
  display: grid;
  font-size: 1.2rem;
}
.extended {
}
.todo {
  display: flex;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(229, 225, 225);
}

.todo:hover {
  background-color: var(--todo-hover-background-color);
  cursor: pointer;
}

.todo-btn {
  border-radius: 5px;
  justify-self: center;
  align-self: center;
  outline: none;
  padding: 8px;
  margin-left: 20px;
}

.todo-btn:hover {
  cursor: pointer;
}

.todo-btn[data-priority="1"] {
  border: 1px solid var(--priority-1-color);
}

.todo-btn[data-priority="2"] {
  border: 1px solid var(--priority-2-color);
}

.todo-btn[data-priority="3"] {
  border: 1px solid var(--priority-3-color);
}
.todo-btn[data-priority="0"] {
  border: 1px solid gray;
}

.todo-btn.checked {
  background-color: var(--checked-btn-color) !important;
  border-color: var(--checked-btn-border-color);
  content: "✓";
}

.todo-btn[data-priority="1"]:hover {
  background-color: var(--priority-1-color);
  opacity: 0.8;
}

.todo-btn[data-priority="2"]:hover {
  background-color: var(--priority-2-color);
  opacity: 0.8;
}

.todo-btn[data-priority="3"]:hover {
  background-color: var(--priority-3-color);
  opacity: 0.8;
  content: "✓";
}

.todo-btn[data-priority="0"]:hover {
  background-color: gray;
  content: "✓";
  opacity: 0.8;
}

.todo-content {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  align-items: center;
}

.extended .todo-description,
.extended .todo-notes {
  display: block;
}

.todo-date {
  font-style: italic;
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--todo-hover-background-color);
}

.fa-trash {
  color: rgb(182, 2, 2);
}
.add-todo {
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  gap: 20px;
  padding-left: 20px;
}

.add-todo:hover {
  background-color: var(--todo-hover-background-color);
  cursor: pointer;
}

.add-todo i {
  color: blue;
}

.todo-description,
.todo-notes {
  display: none;
}

.add-task-form {
  justify-self: start;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  margin-top: 10px;
}

.form-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 10px;
  border-bottom: 1px solid rgb(213, 209, 209);
}

.task-description-container {
  grid-row: 2;
}

.form-bottom {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr;
}

.form-bottom .buttons-container {
  display: flex;
  gap: 15px;
}

.buttons-container button {
  font-size: 1.2rem;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 5px 10px;
}
input {
  border: none;
  font-size: 1.2rem;
}

select {
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}
/* label {
  display: none;
} */

/* dialog {
   border: none; 
  max-width: 100vw;
  max-height: 100vh;
  height: 40%;
  width: 50%;
  display: flex;
  border-radius: 5px;
} */
/* .edit-task {
  height: 100%;
  width: 100%;
  display: grid;
  border: 1px solid black;
  background-color: var(--left-background-color);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto;
}
.edit-task button {
  font-size: inherit;
  border-radius: 10px;
  padding: 5px;
  border: none;
}

.edit-task input {
  border: none;
}
.edit-left-container,
.edit-right-container {
  display: grid;
  gap: 10px;
}

.form-btns-container {
  grid-column: 1 /3;
  justify-self: end;
} */
